
h1{

  font-size: 3.5rem;
  line-height: 1.5;
}
body{
  font-family: "Montserrat-black", sans-serif;
}
h2{
  font-family: "Montserrat-bold", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 40px;
  text-align: auto;
}
h3{
  font-family: "Montserrat-black", sans-serif;
}
p{
  color: grey;
}
#title{
  padding-top: 3%;
  background-color:#ff4c68;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
font-family: "Ubuntu", sans-serif;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-family: 'Montserrat-light';
  font-size: 1.5rem;
}
.db{
  margin: 5% 3% 5% 3%;
}
.img1{
  width: 40%;

  transform: rotate(25deg);
position: relative;
left: 100px;
}
#features{
  background-color: #fff;
  padding: 0% 15% 7% 15%;
position: relative;
z-index: 1;
}
.feature-boxes{
  text-align:center;
  padding: 5%
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
color:#ff4c68;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
.tst-img{
  width: 50%;
  padding: 5% 15%;
border-radius: 100%;
}
.peb{
  position: relative;
  right: 200px;
}
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 5%;
}
.txt-img{
  width: 15%;
  margin-left: 20px 40px 20px ;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pc{
  padding: 3% 2%;
}
@media( max-width:1022.4px) {
  #title{
    text-align: center;
  }
  .img1{
    position: static;
    transform: rotate(0deg);
  }
}
#cta{
  background-color: #ef8172;
  padding: 7%;
  text-align: center;
    font-family: "Montserrat-bold", sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
}
.btn1{

  font-size: 1rem;
  width:10%;
  background-color: #000;
  color: #fff;
}
#footer{
  padding: 5% 0%;
  text-align: center;
}
.a{
  padding: 0px 10px;
}
